

<div class="col-4">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address %><br />
      <%= f.text_field :address, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %><br />
      <%= f.text_field :city, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :province_id %><br />
      <%= f.collection_select(:province_id, Province.all, :id, :name,{}, {:class=>'form-control text-center'}) %>
    </div>

    <div class="form-group">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postal_code, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>


    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-success" %>
    </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
