.course.col-md-4
  h2 = link_to course.name, course_item_path(course)
  p = image_tag course.image
  p 
    Strong> Course Description:
    = course.description
  p
    Strong> Price
    = number_to_currency(course.price)
  p
    strong School: 
    - if course.school.present?
      = course.school.name
    - else
      | Online courses
  = button_to 'Add to Cart', line_items_path(english_course_id: course), class: "btn btn-primary"
    
