= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      .container
        h2 = "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
        ul
          - @order.errors.full_messages.each do |message|
            li = message
            
  - if user_signed_in?        
    .container
      .row
        .col-12.field
          h5 = "Please enter your email and make sure that the information is correct, if not update it"
        .col-8.field
          = f.label :email
          = f.text_field :email, size: 20
        .col-8.field
          = current_user.first_name.capitalize
        .col-8.field
          = current_user.last_name.capitalize
        .col-8.field
          = current_user.address
        .col-8.field
          = current_user.city
        .col-8.field
          = current_user.province.name
        .col-8.field
          = current_user.postal_code
        .col-5.actions = f.submit 'Proceed to Payment'
  - else
    .container
      .row
        .col-8.field
          = f.label :address
          = f.text_area :address, rows: 2, cols: 39
        .col-8.field
          = f.label :email
          = f.text_field :email, size: 40
        .col-5.actions = f.submit 'Proceed to Payment2'
