<% if user_signed_in? %>
<h2><%= current_user.first_name.capitalize %>'s Cart  </h2>
<% else %>
<h2> Your Cart </h2>
<% end %>

 <table>
  <% @cart.line_items.each do |item| %>
   <tr>
     <td><%= item.quantity %>&times;</td>
     <td><%= item.english_course.name %></td>
     <td class="item_price"><%= number_to_currency(item.total_price) %></td>
     <td><%= link_to "-", decrease_line_item_path(english_course_id: item.english_course), class:"btn btn-danger" %></td>
     <td><%= link_to "+", increase_line_item_path(english_course_id: item.english_course), class:"btn btn-success" %></td>
   </tr>
  <% end %>

  <% session[:qty] = @cart.total_qty %>
  
   <tr class="total_line">
     <td colspan="2">Total</td>
     <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
   </tr>

   <% if user_signed_in? %>

     <% if current_user.province.gst > 0 %>
     <tr>
       <td >GST</td>
       <td><%= current_user.province.gst %>%</td>
       <td><%= number_to_currency(current_user.province.gst * @cart.total_price) %></td>
     </tr>
     <% end %>

     <% if current_user.province.pst > 0 %>
     <tr>
       <td>PST</td>
       <td><%= current_user.province.pst %>%</td>
       <td><%= number_to_currency(current_user.province.pst * @cart.total_price) %></td>
     </tr>
     <% end %>

     <% if current_user.province.hst > 0 %>
     <tr>
       <td>HST</td>
       <td><%= current_user.province.hst %>%</td>
       <td><%= number_to_currency(current_user.province.hst * @cart.total_price) %></td>
     </tr>
     <% end %>

     <tr class="total_line">
       <td colspan="2">Grand Total</td>
       <td class="total_cell"><%= number_to_currency(@cart.grand_total(@cart.total_price,current_user)) %></td>
     </tr>

   <% end %>

 </table>
 <%= button_to "Checkout", new_order_path, method: :get, class:"btn btn-primary btn-sm" %>
 <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
