/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
 */
 @import "font-awesome";
 @import "bootstrap";
 @import "course";
 @import "footer";

 // #notice {
 //    color: #000 !important;
 //    border: 2px solid red;
 //    padding: 1em;
 //    margin-bottom: 2em;
 //    background-color: #f0f0f0;
 //    font: bold smaller sans-serif;
 //  }

 // #notice:empty {
 //   display: none
 // }

 // ul {
 //   list-style-type: none;
 // }

 $light-blue: #e6f4f9;
 $white: #ffffff;
 $blue: #1765ad;

  .depot_form {
    fieldset {
      background: $light-blue;

      legend {
        color: $white;
        background: $blue;
        font-family: sans-serif;
        padding: 0.2em 1em;
      }
      div {
        margin-bottom: 0.3em;
      }
    }

    form {
      label {
        width: 2em;
        float: left;
        text-align: right;
        padding-top: 0.2em;
        margin-right: 0.1em;
        display: block;
      }
      select, textarea, input {
        margin-left: 0.5em;
      }
      .submit {
        margin-left: 4em;
      }
      br {
        display: none
      }
    }
  }
