// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.course {
  // width: 250px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

.course img {
  width: 130px;
  height: 130px;
}

.pagination {
  // left: 50%;
  // text-align: center;
  // float:left;
  // // display: inline-block;
  // margin: auto;
  width: 50%;
  // left: 50%;
  // margin-right: -50%;
}
