/* Set the fixed height of the footer here */

// #f1f3f6
$light-grey: #f5f5f5;
$grey-blue: #efefef;

#footer {
  height: 60px;
  background-color: $light-grey;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color: $light-grey;
  text-align: center;
}

#footer a {
  color: $grey-blue;
}

#footer > .container {

}
