h1 Listing line_items

table
  thead
    tr
      th English course
      th Cart
      th
      th
      th

  tbody
    - @line_items.each do |line_item|
      tr
        td = line_item.english_course
        td = line_item.cart
        td = link_to 'Show', line_item
        td = link_to 'Edit', edit_line_item_path(line_item)
        td = link_to 'Destroy', line_item, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Line item', new_line_item_path
