p#notice = notice

p
  strong English course:
  = @line_item.english_course
p
  strong Cart:
  = @line_item.cart

= link_to 'Edit', edit_line_item_path(@line_item)
'  |
= link_to 'Back', line_items_path
