<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <!-- <span>Amount: $5.00</span> -->
      <span>Amount: <%= number_to_currency(@amount) %></td></span>

    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount.to_i * 100 %>"
          data-locale="auto"></script>
<% end %>
