<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aclick3</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, :class => "nav-link" %> <span class="sr-only">(current)</span>
          </li>

          <li class="nav-item">
            <%= link_to "About", about_path, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Contact", contact_path, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "New", new_path, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sale", sale_path, :class => "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Schools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "EC", ec_path, :class => "dropdown-item" %>
              <%= link_to "ILAC", ilac_path, :class => "dropdown-item" %>
            </div>
          </li>
        </ul>

        <!-- <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :q, nil, placeholder: "Search" %>
        <% end %> -->

        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :q, nil, placeholder: "Search" %>
          <%= check_box_tag 'enable', :class => "nav-link" %>
          <%= select_tag :school_id, options_from_collection_for_select(School.all, :id, :name), {:disabled => true} %>
        <% end %>

        <ul class="navbar-nav mr-auto">

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.first_name.capitalize, edit_user_registration_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "nav-link" %>
            </li>

            <% cart_id = session[:cart_id] %>
            <% qty = session[:qty] %>
            <% if cart_id!=nil %>
              <li class="nav-item"><%= link_to cart_path(cart_id), :class => "nav-link"  do %>
                <span class="fa fa-shopping-cart"><span> Cart (<%= pluralize(qty, "item") %>) <% end %>
              </li>
            <% end %>

          <% else %>
            <li class="nav-item">
              <%= link_to "Sign In", new_user_session_path, :class => "nav-link" %>
            </li>

            <li class="nav-item">
            <span class="nav-link"> | </span>
            </li>

            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, :class => "nav-link" %>
            </li>
        <% end %>

        </ul>
      </div>
    </nav>


    <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </div>
    <% end %>

    <div id="wrap">
      <div class="container">
          <%= yield %>
      </div>
    </div>

    <div id="footer">
     <div class="container">
       <p class="text-muted">Footer @2017</p>
     </div>
   </div>

   <script>
   $(function () {
     var $checkbox = $('[id^="enable"]'),
         $select = $('#school_id');

     $checkbox.change(function (e) {
         $select.prop('disabled', !$checkbox.is(':checked'))
     });
   });
   </script>

  </body>

</html>
